/*
==============
CSS for - 
Muhammad Adam Firdaus 2016
==============
 */
 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, section {
	display: block;
}

html, body {
	margin:0;
	padding:0;
	height:100%;
}

body {
	font-family:"RobotoDraft";
	font-weight:400;
}

a {
	text-decoration:none;
}

img {
	display:block;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container {
	height:100%;
	position:relative;
}

footer {
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
}

/* mulai dari bawah ini */

main, section {
	width:100%;
	height:100%;
}

section {
	display:table;
	height:100%;
}

.mobile-container {
	overflow:hidden;
	height:80%;
	z-index:-999;
}

.content {
	display:table-cell;
	vertical-align:middle;
}

.background-welcome {
	background:url() no-repeat;
	background-size:cover;
	background-position:center;
}

.welcome .row:nth-child(1) {
	padding-bottom:25%;
}

.logo-euro a {
	display:block;
}

.logo-euro img {
	width:70%;
	margin:0 auto;
}

.button {
	font-family:"RobotoDraft", arial;
	font-weight:300;
	text-align:center;
	cursor:pointer;
}

.button a {
	display:inline-block;
	padding:12px 48px;
	text-transform:uppercase;
	border-radius:5px;
}

.button-transparent a:hover {
	background:rgba(255,255,255,0.1);
	color:rgba(255,255,255,0.8);
}

.button-transparent a {
	border:1px solid #fff;
	color:rgba(255,255,255,1);
	-webkit-transition: background ease-in 0.2s, color ease-in 0.2s;
	-moz-transition: background ease-in 0.2s, color ease-in 0.2s;
	-ms-transition: background ease-in 0.2s, color ease-in 0.2s;
	-o-transition: background ease-in 0.2s, color ease-in 0.2s;
	transition: background ease-in 0.2s, color ease-in 0.2s;
}

.hide {
	display:none;
}

.box {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    background: blue;    
}
.orange {
    background: orange;   
}

.slide-left {
	opacity: 0;
	-moz-transition: all 500ms linear;
	-webkit-transition: all 500ms linear;
	-o-transition: all 500ms linear;
	transition: all 500ms linear;
	-moz-transform: translate3d(100px, 0px, 0px);
	-webkit-transform: translate3d(100px, 0px, 0px);
	-o-transform: translate(100px, 0px);
	-ms-transform: translate(100px, 0px);
	transform: translate3d(100px, 0px, 0px);
}

.slide-right {
	opacity: 0;
	-moz-transition: all 500ms linear;
	-webkit-transition: all 500ms linear;
	-o-transition: all 500ms linear;
	transition: all 500ms linear;
	-moz-transform: translate3d(-100px, 0px, 0px);
	-webkit-transform: translate3d(-100px, 0px, 0px);
	-o-transform: translate(-100px, 0px);
	-ms-transform: translate(-100px, 0px);
	transform: translate3d(-100px, 0px, 0px);
}

.viewing-1 .in-view,
.viewing-4 .in-view {
	opacity: 1;
	-moz-transform: translate3d(0px, 0px, 0px);
	-webkit-transform: translate3d(0px, 0px, 0px);
	-o-transform: translate(0px, 0px);
	-ms-transform: translate(0px, 0px);
	transform: translate3d(0px, 0px, 0px);
}

.viewing-0 < .tulisan {
	display:none;
}

.viewing-1 .tulisan {
	display:block;
}

.header {
	height:40px;
}

.merah {
	background:#f44336;
}

.col {
	float:left;
}

/* SEARCH */

.search-container {
	margin-top:10px;
	text-align:center;
}

#search {
	display:inline-block;
}

.search {
	position:relative;
	height:35px;
}

.icon-search:before {
	content:'';
	background:url(../images/lup.png) no-repeat;
	width:26px;
	height:26px;
	position:absolute;
	left:5%;
	top:10%;
}

.search input {
	padding:10px 0 10px 40px;
	background:rgba(0,0,0,0.1);
	border:0;
	color:#fff;
	transition: padding-right 1s cubic-bezier(0.000, 0.795, 0.000, 1.000);
}

.search input::-webkit-input-placeholder {
   color: #fff;
}

.search input:-moz-placeholder { /* Firefox 18- */
   color: #fff;  
}

.search input::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}

.search input:-ms-input-placeholder {  
   color: #fff;  
}

.search input::-webkit-search-cancel-button /* ngilangin close button */ {
	display:none;
}

.search input[type="search"] {
	outline: none;
}

.search input[type="search"]:focus {
	padding-right:10%;
	transition: padding-right 1s cubic-bezier(0.000, 0.795, 0.000, 1.000);
	box-shadow:0px 0px 6px 3px rgba(255,255,255,0.3);
}

/* end SEARCH */


.content-main li {
	list-style:none;
	display:block;
	padding:0 10px;
	margin:10px 0;
}

.content-each {
	background:#fefefe;
	box-shadow:2px 2px 6px #ccc;
}

.thumbnail-berita {
	width:80px;
	height:80px;
	overflow:hidden;
}

.thumbnail-berita img {
	width:auto;
	height:100%;
}

.title {
	font-family: "OpenSans";
}

.title a {
	padding-left:10px;
	color:#a4a4a4;
}

.title a,
.title h2,
.title-keyword a,
.title-keyword h2 {
	display:block;
}

.title h2 {
	font-size:90%;
	line-height:1.5em;
	height:40px;
	overflow:hidden;
	padding:15px 0;
}

.title-keyword {
	font-family:"TradeGothicLTStd-Bold";
}

.title-keyword a {
	display:table;
	height:67px;
	padding-left:20px;
	color:#cfd8dc;
}

.title-keyword h2 {
	display:table-cell;
	vertical-align:middle;
}

.keyword-satu h2 {
	font-size:28px;
	line-height:1.5em;
}

.keyword-dua h2 {
	font-size:24px;
	line-height:1.5em;
}

.keyword-tiga h2 {
	font-size:21px;
	line-height:1.5em;
}

.keyword-empat h2 {
	font-size:18px;
	line-height:1.5em;
}

.number {
	font-family:"TradeGothicLTStd-Bold";
	width:45px;
}

.number h2 {
	font-size:50px;
	font-style:italic;
	color:#b0bec5;
	padding-left:10px;
}

/* apps */
nav {
	height:100%;
	font-family:"TradeGothicLTStd-Bold";
}

nav li {
	float:left;
	display:table;
	list-style:none;
	width:50%;
	height:100%;
}

nav li a {
	color:#fff;
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	text-transform:uppercase;
}

nav li:first-child a {
	border-right:1px solid #fff;
}

nav li:last-child a {
	border-right:0;
}

.footer {
	height:100px;
}

/* */

@media only screen and (min-width:321px) {
	.welcome .row:nth-child(1) {
		padding-bottom:10%;
	}
}

@media only screen and (min-width:800px) {
	.logo-euro img {
		width:30%;
		margin:0 auto;
	}
	
	.welcome .row:nth-child(1) {
		padding-bottom:5%;
	}
	
	.title a {
		display:table;
		height:90px;
	}
	
	.title h2 {
		font-size:22px;
		line-height:26px;
		height:90px;
		display:table-cell;
		vertical-align:middle;
	}
}